/* COLOR */
$primary: #3F50B6;
$white: #ffffff;
$black: #000000;
$grey: #B2B2B2;
$dove_grey: #696969;

$mid_night: #333333;

$light_grey: #BBBBBB;
$semi_grey: #737373;

$wisteria: #784CC0;
$carrot: #E54C42;
$silver: #D8D8D8;
$cloud: #DDDDDD;